@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.on-background');
  }
}

@layer utilities {
  .bg-pattern {
    background-image: radial-gradient(theme('colors.outline-variant') 1px, transparent 1px);
    background-size: 24px 24px;
    opacity: 0.15;
  }
  
  .dark .bg-pattern {
    background-image: radial-gradient(theme('colors.gray.600') 1px, transparent 1px);
  }
  .glass-panel {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .dark .glass-panel {
    background: rgba(41, 48, 64, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
  
  .hero-gradient {
    background: radial-gradient(circle at top right, theme('colors.surface-container-high'), transparent 40%),
                radial-gradient(circle at bottom left, theme('colors.secondary-fixed'), transparent 40%);
  }

  .dark .hero-gradient {
    background: radial-gradient(circle at top right, rgba(79, 70, 229, 0.15), transparent 40%),
                radial-gradient(circle at bottom left, rgba(80, 95, 118, 0.15), transparent 40%),
                #111827; /* tailwind gray-900 */
  }
}
